@model MACARENA.Models.Rezervation
@{
	ViewBag.Title = "About";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<br />
<br />
<br />
<br />
<br />
<nav class="main_nav justify-self-end">
	<ul class="nav_items">


		<li> @Html.ActionLink("Add Rezervations", "Create", "Rezervations")</li>
		<li> @Html.ActionLink("Delete Rezervations", "Delete", "Rezervations")</li>
		<li> @Html.ActionLink("Edit Rezervations", "Edit", "Rezervations")</li>
		<li> @Html.ActionLink("List Rezervations", "Index", "Rezervations")</li>
	</ul>
</nav>
<br />
<br />
<br />
<br />
<br />
<br />