
@{
	ViewBag.Title = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--  Slider -->
<div class="container">
	<div class="home">
		<div class="hero_slider_container slider_prlx">
			<div class="owl-carousel owl-theme hero_slider">

				<!-- Slider Item -->
				<div class="owl-item main_slider_item">
					<div class="main_slider_item_bg" style="background-image:url(../../Content/images/img/Spain/354497.jpg)"></div>
					<div class="container">
						<div class="row">
							<div class="col slider_content_col">
								<div class="main_slider_content">
									<h1>Barselona</h1>

									<div class="button discover_button">
										<a href="seyahat.html" class="d-flex flex-row align-items-center justify-content-center">discover<img src="../../Content/images/arrow_right.svg" alt=""></a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- Slider Item -->
				<div class="owl-item main_slider_item">
					<div class="main_slider_item_bg" style="background-image:url(../../Content/images/img/Spain/Madrid.jpg)">
					</div>

					<div class="container">
						<div class="row">
							<div class="col slider_content_col">
								<div class="main_slider_content">

									<h1>Madrid</h1>
									<div class="button discover_button">
										<a href="seyahat.html" class="d-flex flex-row align-items-center justify-content-center">discover<img src="../../Content/images/arrow_right.svg" alt=""></a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- Slider Item -->
				<div class="owl-item main_slider_item">
					<div class="main_slider_item_bg" style="background-image:url(../../Content/images/img/Spain/Seville-Spain-buildings-water_1920x1200.jpg)">
					</div>

					<div class="container">
						<div class="row">
							<div class="col slider_content_col">
								<div class="main_slider_content">
									<h1>Sevilla</h1>

									<div class="button discover_button">
										<a href="seyahat.html" class="d-flex flex-row align-items-center justify-content-center">discover<img src="Content/images/arrow_right.svg" alt=""></a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- Slider Item -->
				<div class="owl-item main_slider_item">
					<div class="main_slider_item_bg" style="background-image:url(../../Content/images/img/Spain/cordoba.jpg)">
					</div>

					<div class="container">
						<div class="row">
							<div class="col slider_content_col">
								<div class="main_slider_content">
									<h1>Cordoba</h1>

									<div class="button discover_button">
										<a href="seyahat.html" class="d-flex flex-row align-items-center justify-content-center">discover<img src="../../Content/images/arrow_right.svg" alt=""></a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>

			<!-- Slider Dots -->

			<div class="main_slider_dots">
				<div class="container">
					<div class="row">
						<div class="col">
							<ul id="main_slider_custom_dots" class="main_slider_custom_dots">
								<li class="main_slider_custom_dot active">01.</li>
								<li class="main_slider_custom_dot">02.</li>
								<li class="main_slider_custom_dot">03.</li>
								<li class="main_slider_custom_dot">04.</li>
							</ul>
						</div>
					</div>
				</div>
			</div>

			<!-- Slider Dots -->

			<div class="main_slider_nav_left main_slider_nav">
				<i class="fas fa-chevron-left trans_300"></i>
			</div>

			<div class="main_slider_nav_right main_slider_nav">
				<i class="fas fa-chevron-right trans_300"></i>
			</div>

		</div>
	</div>

	<div class="home_social_container d-flex flex-row justify-content-end align-items-center">
		<ul class="home_social">
			<li><a href="#"><i class="fab fa-pinterest trans_300"></i></a></li>
			<li><a href="#"><i class="fab fa-facebook-f trans_300"></i></a></li>
			<li><a href="#"><i class="fab fa-twitter trans_300"></i></a></li>
			<li><a href="#"><i class="fab fa-dribbble trans_300"></i></a></li>
			<li><a href="#"><i class="fab fa-behance trans_300"></i></a></li>
			<li><a href="#"><i class="fab fa-linkedin-in trans_300"></i></a></li>
		</ul>
	</div>

	<div class="elements_section">
		<div class="elements_title">
			<br><br> <h3>Ispanya Halkı</h3>
		</div>
		<div class="row elements_loaders_container">
			<div class="col-lg-3">
				<!-- Loader -->
				<div class="loader" data-perc="0.91"><span>flaminko bilen</span></div>
			</div>
			<div class="col-lg-3">
				<div class="loader" data-perc="0.88"><span>fotobol oynayan</span></div>
			</div>
			<div class="col-lg-3">
				<!-- Loader -->
				<div class="loader" data-perc="0.23"><span>Sigara içen</span></div>
			</div>
			<div class="col-lg-3">
				<!-- Loader -->
				<div class="loader" data-perc="0.77"><span>Sağlikli yaşayan</span></div>
			</div>
		</div>
	</div>


	<!-- Testimonials -->


	<div class="testimonials">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 offset-lg-3 text-center section_title section_title_dark">
					<h2>Espanya'ya Hoşgeldiniz<span></span></h2>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-10 offset-lg-1">
					<div class="testimonials_container">
						<div class="testimonials_container_inner"></div>

						<!-- Testimonials Slider -->

						<div class="owl-carousel owl-theme testimonials_slider">

							<!-- Testimonials Item -->
							<div class="owl-item testimonials_item d-flex flex-column align-items-center justify-content-center text-center">
								<div class="testimonials_content">
									<div class="test_user_pic"><img src="Content/images/img/Spain/bayrak.png"></div>
									<div class="test_name">İspanya Hakkında Bilgiler</div>
									<p>
										İspanya ya da resmi adıyla İspanya Krallığı, parlamenter demokrasi şeklinde bir anayasal monarşi rejimi ile yönetiliyor. İspanya’nın Fas, Birleşik Krallık, Portekiz, Andorra ve Fransa ile sınır komşuluğu bulunuyor.
										Resmi dili İspanyolca olan ülkede, bölgesel yaygınlık gösteren Baskça, Aranca, Katalanca ve Galiçyaca da konuşuluyor. Ülkede ayrıca Rumen, Faslı ve Ekvadorlular gibi etnik gruplar da yaşıyor. İspanyol milli marşında ise söz bulunmuyor. Diğer yandan dünyada en çok konuşulan üçüncü dil İspanyolca.

										İspanya halkının çoğu Hristiyanlığın Katolik mezhebinden. Az sayıda Protestan, Musevi, Müslüman bulunmakla birlikte bu sayı nüfusun yüzde birlik oranını teşkil ediyor.
									</p>
								</div>
							</div>

							<!-- Testimonials Item -->
							<div class="owl-item testimonials_item d-flex flex-column align-items-center justify-content-center text-center">
								<div class="testimonials_content">
									<h1>ispanya haritası</h1>
									<div class="test_user_pic"><img src="../../Content/images/img/Spain/bayrak.png"></div>
									<div class="md-col-4 map"><img src="Content/images/img/Spain/map.gif"></div>

								</div>
							</div>

							<!-- Testimonials Item -->
							<div class="owl-item testimonials_item d-flex flex-column align-items-center justify-content-center text-center">
								<div class="testimonials_content">
									<div class="test_user_pic"><img src="Content/images/img/Spain/bayrak.png"></div>
									<h>İspanya'da konuşulan diller</h>
									<p>
										İspanya'da resmi dil olan ve örneğin İspanyol devlet hizmetlerinin sunulduğu sitelerin hazırlandığı dört dil şu şekildedir:
									</p>
									<ul>
										<li>
											◆ İspanyolca (buna Kastilya dili de denmektedir, Madrid ve çevresinin konuştuğu dil).
										</li>
										<li>
											◆ Katalanca (Barcelona ve çevresinde konuşulan dil)

										</li>
										<li>
											◆ Baskça (İspanya'da "Bask ülkesi" olarak da adlandırılan, Bilbao ve çevresinde konuşulan dil)
										</li>
										<li>
											◆ Galiçyaca (İspanya'nın kuzey batısı, okyanus kıyısında konuşulan dil).
										</li>
									</ul>
								</div>
							</div>
						</div>

					</div>
				</div>

				<!-- Testimonials Slider Navigation -->

				<div class="test_slider_nav test_slider_nav_left d-flex flex-column justify-content-center align-items-center trans_200">
					<i class="fas fa-chevron-left trans_200" style="color: #007bff"></i>
				</div>

				<div class="test_slider_nav test_slider_nav_right d-flex flex-column justify-content-center align-items-center trans_200">
					<i class="fas fa-chevron-right trans_200" style="color: #007bff"></i>
				</div>

			</div>
		</div>
	</div>
</div>