
@{
	ViewBag.Title = "Turizim";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Page Top -->
<link rel="stylesheet" type="text/css" href="Content/bootstrap.min.css">
<link href="plugins/fontawesome-free-5.0.1/css/fontawesome-all.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="plugins/OwlCarousel2-2.2.1/owl.carousel.css">
<link rel="stylesheet" type="text/css" href="plugins/OwlCarousel2-2.2.1/owl.theme.default.css">
<link rel="stylesheet" type="text/css" href="plugins/OwlCarousel2-2.2.1/animate.css">
<link rel="stylesheet" type="text/css" href="plugins/js-flickr-gallery-1.24/js-flickr-gallery.css">
<link href="plugins/colorbox/colorbox.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="~/Content/css/blog_styles.css">
<link rel="stylesheet" type="text/css" href="~/Content/css/blog_responsive.css">
<link rel="stylesheet" type="text/css" href="~/Content/css/Stillerim.css">


<div class="home prlx_parent">

	<!-- Parallax Background -->
	<div class="home_background prlx" style="background-image:url(../../Content/images/img/fifa/SorteoMundialDeClubes_2016.jpg)"></div>
	<div class="services_page_shapes" style="background-image:url(../../Content/images/services_page_shapes.png)"></div>

	<div class="container">
		<div class="row">
			<div class="col-lg-6">
				<div class="home_content">
					<h1>Spor Haberleri</h1>

				</div>
			</div>
		</div>
	</div>
</div>

<!-- Blog Content -->

<div class="blog_content">

	<div class="container">
		<div class="row">

			<div class="col-lg-8">
				<div class="blog_main_content">

					<!-- Blog Post -->
					<article class="blog_post">
						<div class="blog_post_image">
							<div class="blog_post_image_background" style="background-image:url(../../Content/images/img/fifa/1.jpg)"></div>
						</div>
						<div class="date_box d-flex flex-column align-items-center justify-content-center">
							<span>2018 Rusya </span>
						</div>
						<h3 class="blog_post_title">Dünya Kupasına katılacak 32 takım belli oldu! Avrupa'dan 14 ülke...</h3>
						<div class="blog_post_meta">
							<span class="blog_post_author">by najwa hasan</span>
							<span class="blog_post_category">2018 Dunya Küpası</span>
							<span class="blog_post_comments">2 comments</span>
						</div>
						<div class="blog_post_text" id="bir">
							<p>
								Rusya’nın evs ahipliği yapacağı 2018 Dünya Kupası elemeleri tamamlandı.
								Dünya Kupasına son bilet Peru’nun oldu. 0-0’ın rövanşında Yeni Zelanda’yı 2-0 mağlup eden Peru, Rusya’daki finallere gitmeye hak kazandı.
								Kupa tarihinde ilk kez 3 İskandinav ülkesi boy gösterecek ve bu 3 ülke; Danimarka, İzlanda ve İsveç aynı torbada yer aldılar.
							</p>
						</div>
						<a href="http://www.hurriyet.com.tr/sporarena/dunya-kupasina-katilacak-32-takim-belli-oldu-avrupadan-14-ulke-40646816" class="blog_post_link">
							read more
							<svg version="1.1" id="Layer_3" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
								 width="13px" height="7px" viewBox="0 0 13 7" enable-background="new 0 0 13 7" xml:space="preserve">
							<polygon id="arrow_poly_3" class="arrow_poly" fill="blue" points="13,3.5 9,0 9,3 0,3 0,4 9,4 9,7 " />















								</svg>
						</a>
					</article>
					<!-- Blog Post -->
					<article class="blog_post">
						<div class="blog_post_image">
							<div class="blog_post_image_background" style="background-image:url(../../Content/images/img/fifa/2.jpg)"></div>
						</div>
						<div class="date_box d-flex flex-column align-items-center justify-content-center">
							<span>kim kaç kez</span>
						</div>
						<h3 class="blog_post_title">Dünya Kupası'nı kim kaç kez kaldırdı?</h3>
						<div class="blog_post_meta">
							<span class="blog_post_author">by najwa hasan</span>
							<span class="blog_post_category">spor haberleri</span>
							<span class="blog_post_comments">2 comments</span>
						</div>
						<div class="blog_post_text">
							<p>
								aha önceki en büyük başarısı 1950'deki kupada dördüncülük olan İspanya, 2008 Avrupa Futbol Şampiyonası'ndan sonra Dünya Kupası'nı da kazanarak çok büyük bir başarıya imza attı.

								Daha önce 1972 Avrupa Futbol Şampiyonası'nı kazanan Almanya, 1974 Dünya Kupası'nı, 1998 Dünya Kupası'nı alan Fransa da 2000 Dünya Kupası'nı kazanarak, İspanya gibi 2 yıl arayla 2 büyük turnuvada şampiyon olmuştu.

								Hollanda da böylece oynadığı 3. final maçında da mutlu sona ulaşamadı. Hollanda, daha önce 1974'te Almanya'da ve 1978'de Arjantin'de düzenlenen kupalarda ev sahibi takımlarla final oynamış ve kaybetmişti.
							</p>
						</div>
						<a href="http://spor.haber7.com/spor/haber/567187-dunya-kupasini-kim-kac-kez-kaldirdi" class="blog_post_link">
							read more
							<svg version="1.1" id="Layer_3" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
								 width="13px" height="7px" viewBox="0 0 13 7" enable-background="new 0 0 13 7" xml:space="preserve">
							<polygon id="arrow_poly_3" class="arrow_poly" fill="blue" points="13,3.5 9,0 9,3 0,3 0,4 9,4 9,7 " />















								</svg>
						</a>
					</article>
					<!-- Blog Post -->
					<article class="blog_post">
						<div class="blog_post_image">
							<div class="blog_post_image_background" style="background-image:url(../../Content/images/img/fifa/3.jpg)"></div>
						</div>
						<div class="date_box d-flex flex-column align-items-center justify-content-center">
							<span>messi</span>
						</div>
						<h3 class="blog_post_title"><a href="blog_post.html">La Liga'da El Clasico Barcelona Real Madrid maçı ne zaman hangi kanalda saat kaçta?.</a></h3>
						<div class="blog_post_meta">
							<span class="blog_post_author">by najwa hasan</span>
							<span class="blog_post_category">Spor haberleri</span>
							<span class="blog_post_comments">2 comments</span>
						</div>
						<div class="blog_post_text">
							<p>
								Bu sezon ligde hayâl kırıklığı yaşayan Real Madrid ise 71 puanla üçüncü sırada bulunuyor. Real Madrid, ezeli rakibi karşısında alacağı galibiyetle hem Şampiyonlar Ligi finali öncesi moral depolamak, hem de ikincilik umutlarını sürdürmek istiyor.

								Dev maç öncesi Barcelona'da Sergi Samper'in dışında önemli bir eksik bulunmuyor. Hafif sakatlığını atlatan Andres Iniesta ise son antrenmanda takımda birlikte çalıştı. Yıldız futbolcu, Ernesto Valverde'nin görev vermesi halinde forma giyebilecek.

								Real Madrid'de ise Daniel Carvajal'in sakatlığı devam ediyor. Hafif sakatlıkları bulunan Isco ile Raphael Varane'ın durumlarının ise maç saatinde belli olması bekleniyor.

								.
							</p>
						</div>
						<a href="https://www.fotomac.com.tr/ispanyalaliga/2018/05/06/la-ligada-el-clasico-barcelona-real-madrid-maci-ne-zaman-hangi-kanalda-saat-kacta" class="blog_post_link">
							read more
							<svg version="1.1" id="Layer_3" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
								 width="13px" height="7px" viewBox="0 0 13 7" enable-background="new 0 0 13 7" xml:space="preserve">
							<polygon id="arrow_poly_3" class="arrow_poly" fill="blue" points="13,3.5 9,0 9,3 0,3 0,4 9,4 9,7 " />















								</svg>
						</a>
					</article>

					<!-- Blog Post -->
					<article class="blog_post">
						<div class="blog_post_image">
							<div class="blog_post_image_background" style="background-image:url(../../Content/images/img/fifa/4.jpg)"></div>
						</div>
						<div class="date_box d-flex flex-column align-items-center justify-content-center">
							<span>Türkiye</span>
						</div>
						<h3 class="blog_post_title">Türkiye, Dünya Kupası'na mı katılıyor?</h3>
						<div class="blog_post_meta">
							<span class="blog_post_author">by najwa hasan</span>
							<span class="blog_post_category">spor haberleri</span>
							<span class="blog_post_comments">2 comments</span>
						</div>
						<div class="blog_post_text">
							<p>
								Avrupa eleme grubunu 4. sırada bitirerek Dünya Kupası hayallerini başka bahara atan Milli Takım'a çok sürpriz bir şans doğdu!
								ngiltere ile Rusya arasında yaşanan casus krizi spora sıçradı. İngiltere krizin ardından Rus diplomatları sınır dışı etti. Ardından protokolün Dünya Kupası'na katılmayacağı açıklandı. Avustralya ve İzlanda'dan da aynı yönde açıklamalar geldi. Bu kervana Avrupa ülkelerinin katılabilme ihtimali yüksek.
							</p>
						</div>
						<a href="http://spor.haber7.com/milli-takim/haber/2586141-turkiye-dunya-kupasina-mi-katiliyor" class="blog_post_link">
							read more
							<svg version="1.1" id="Layer_3" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
								 width="13px" height="7px" viewBox="0 0 13 7" enable-background="new 0 0 13 7" xml:space="preserve">
							<polygon id="arrow_poly_3" class="arrow_poly" fill="blue" points="13,3.5 9,0 9,3 0,3 0,4 9,4 9,7 " />















								</svg>
						</a>
					</article>


				</div>
			</div>
		</div>
	</div>
</div>